In [1]:
import wandb
import pandas as pd
import json

wandb.login()
api = wandb.Api()

Failed to detect the name of this notebook, you can set it manually with the WANDB_NOTEBOOK_NAME environment variable to enable code saving.
wandb: Currently logged in as: adrien-vannson. Use `wandb login --relogin` to force relogin

In [2]:
runs = api.runs("epfl-dlb")

In [3]:
results = []

for run in runs:
    if run.group != "relationnet_sp_5w_1s_mse_batchnorm":
        continue

    path = run.summary.eval_results.path
    run.file(path).download(replace=True)

    with open(path, 'r') as f:
        data = json.load(f)

        val = float(data["data"][1][2])
        test = float(data["data"][2][2])
    

    results.append({"name": run.name, "val": val, "test": test})

df = pd.DataFrame(results)
df.sort_values("val")

                           name        val       test
19        layers-8-1_dropout-20  26.666667  39.111111
1   layers-512-128-1_dropout-20  37.333333  46.666667
5    layers-256-64-1_dropout-00  40.000000  52.444444
11      layers-512-1_dropout-00  45.777778  48.888889
8    layers-128-32-1_dropout-00  46.222222  40.888889
9       layers-512-1_dropout-50  47.555556  63.111111
20        layers-8-1_dropout-00  48.444444  46.222222
3    layers-256-64-1_dropout-50  48.888889  42.666667
2   layers-512-128-1_dropout-00  49.777778  59.555556
17       layers-32-1_dropout-00  50.222222  47.111111
7    layers-128-32-1_dropout-20  51.111111  56.444444
16       layers-32-1_dropout-20  51.555556  65.333333
18        layers-8-1_dropout-50  52.000000  44.000000
0   layers-512-128-1_dropout-50  52.444444  64.000000
12      layers-128-1_dropout-50  52.444444  48.888889
6    layers-128-32-1_dropout-50  52.888889  52.444444
15       layers-32-1_dropout-50  53.333333  51.555556
14      layers-128-1_dropout-00  53.777778  53.777778
4    layers-256-64-1_dropout-20  56.000000  51.555556
13      layers-128-1_dropout-20  60.444444  42.666667
10      layers-512-1_dropout-20  61.333333  58.222222

In [4]:
results = []

for run in runs:
    if run.group != "relationnet_sp_10w_5s_mse_batchnorm":
        continue

    path = run.summary.eval_results.path
    run.file(path).download(replace=True)

    with open(path, 'r') as f:
        data = json.load(f)

        val = float(data["data"][1][2])
        test = float(data["data"][2][2])
    

    results.append({"name": run.name, "val": val, "test": test})

df = pd.DataFrame(results)
df.sort_values("val")

                           name        val       test
18        layers-8-1_dropout-50  29.333333  22.469136
20        layers-8-1_dropout-00  30.000000  35.061728
19        layers-8-1_dropout-20  30.000000  31.604938
6    layers-128-32-1_dropout-50  32.222222  28.641975
15       layers-32-1_dropout-50  38.222222  33.086420
14      layers-128-1_dropout-00  39.777778  32.592593
13      layers-128-1_dropout-20  39.777778  34.567901
17       layers-32-1_dropout-00  41.555556  33.580247
0   layers-512-128-1_dropout-50  42.222222  33.580247
16       layers-32-1_dropout-20  43.111111  40.987654
2   layers-512-128-1_dropout-00  43.555556  39.506173
4    layers-256-64-1_dropout-20  43.777778  31.604938
12      layers-128-1_dropout-50  44.666667  31.604938
5    layers-256-64-1_dropout-00  44.888889  37.037037
7    layers-128-32-1_dropout-20  47.555556  32.098765
9       layers-512-1_dropout-50  48.666667  37.283951
11      layers-512-1_dropout-00  48.888889  30.617284
10      layers-512-1_dropout-20  50.000000  34.567901
3    layers-256-64-1_dropout-50  52.888889  33.580247
1   layers-512-128-1_dropout-20  54.444444  37.777778
8    layers-128-32-1_dropout-00  56.444444  37.283951

In [5]:
results = []

for run in runs:
    if run.group != "relationnet_tm_5w_1s_mse_batchnorm":
        continue

    path = run.summary.eval_results.path
    run.file(path).download(replace=True)

    with open(path, 'r') as f:
        data = json.load(f)

        val = float(data["data"][1][2])
        test = float(data["data"][2][2])
    

    results.append({"name": run.name, "val": val, "test": test})

df = pd.DataFrame(results)
df.sort_values("val")

                          name        val       test
3    layers-64-32-1_dropout-50  59.111111  57.333333
1    layers-32-16-1_dropout-20  70.222222  81.777778
2    layers-32-16-1_dropout-00  70.222222  80.000000
6   layers-128-64-1_dropout-50  70.222222  58.222222
0    layers-32-16-1_dropout-50  70.666667  76.888889
5    layers-64-32-1_dropout-00  72.000000  68.000000
7   layers-128-64-1_dropout-20  73.333333  71.111111
4    layers-64-32-1_dropout-20  73.777778  64.000000
9       layers-32-1_dropout-20  74.666667  80.000000
8   layers-128-64-1_dropout-00  75.555556  73.333333
11      layers-32-1_dropout-00  76.000000  85.777778
15     layers-128-1_dropout-50  76.000000  74.666667
10      layers-32-1_dropout-10  77.777778  81.777778
16     layers-128-1_dropout-20  80.888889  63.555556
17     layers-128-1_dropout-00  82.666667  78.222222
12      layers-64-1_dropout-50  86.222222  65.777778
13      layers-64-1_dropout-20  86.666667  68.000000
14      layers-64-1_dropout-00  90.222222  66.222222

In [6]:
results = []

for run in runs:
    if run.group != "relationnet_tm_10w_5s_mse_batchnorm":
        continue

    path = run.summary.eval_results.path
    run.file(path).download(replace=True)

    with open(path, 'r') as f:
        data = json.load(f)

        val = float(data["data"][1][2])
        test = float(data["data"][2][2])
    

    results.append({"name": run.name, "val": val, "test": test})

df = pd.DataFrame(results)
df.sort_values("val")

                          name        val       test
15     layers-128-1_dropout-50  61.777778  66.444444
17     layers-128-1_dropout-00  62.444444  61.777778
16     layers-128-1_dropout-20  62.444444  65.111111
1    layers-32-16-1_dropout-20  63.333333  69.111111
0    layers-32-16-1_dropout-50  65.555556  68.000000
4    layers-64-32-1_dropout-20  65.555556  74.888889
3    layers-64-32-1_dropout-50  66.000000  70.000000
5    layers-64-32-1_dropout-00  66.888889  80.666667
2    layers-32-16-1_dropout-00  67.555556  74.666667
12      layers-64-1_dropout-50  67.777778  74.222222
6   layers-128-64-1_dropout-50  69.555556  65.555556
9       layers-32-1_dropout-20  71.333333  72.444444
11      layers-32-1_dropout-00  72.666667  68.000000
13      layers-64-1_dropout-20  73.111111  71.777778
14      layers-64-1_dropout-00  73.111111  76.222222
10      layers-32-1_dropout-10  74.000000  65.333333
7   layers-128-64-1_dropout-20  78.000000  68.000000
8   layers-128-64-1_dropout-00  79.555556  66.666667